:root {
  --var-bg-color: #ffffff;
  --var-border-color: #b2bdc8;
  --var-light-bg-color: #f9f9f9;
  --var-dark-btn-color: #82b8ee;
  --var-middle-btn-color: #b9d7f5;
  --var-important-btn-color: #ff9387;
  --var-light-btn-color: #f5f5f5;
  --var-font-color: #000;
}

.dark_mode {
  --var-bg-color: #1c1c1c;
  --var-border-color: #bdbdbd;
  --var-light-bg-color: #343434;
  --var-dark-btn-color: #5e5e5e;
  --var-middle-btn-color: #212121;
  --var-important-btn-color: #a85a51;
  --var-light-btn-color: #343434;
  --var-font-color: #d4d4d4;
}
